<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Math class</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-tc5iqib027qvyjsmfhjomalkfuwvxzxupncja7l2mcwnipg9mgcd8wgnicpd7txa"
            crossorigin="anonymous"></script>
</head>
<body>
    <h1>Tasks observe</h1>
    <table>
        <tr>
            <th>ID of taskGeneral</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
        <tr th:each="taskGeneral : ${tasks}" >
            <td th:text="${taskGeneral.id}"></td>
            <td th:text="${taskGeneral.title}"></td>
            <td th:text="${taskGeneral.description}"></td>
        </tr>
    </table>
</body>
</html>